.bundle/
log/*.log
pkg/
test/dummy5/db/*.sqlite3
test/dummy5/db/*.sqlite3-journal
test/dummy5/log/*.log
test/dummy5/tmp/

# Ignore all the .DS_Store files
.DS_Store

# Ignore byebug files
.byebug_history

# Ignore temporary files, including Rubycritic files
tmp
